---
layout: page
title: TotalKnavery Music
description: Audio for all sorts of occasions!
---

<!-- Intro -->
<div class="row">
  <section class="6u 12u$(medium)">
    <h2>What's this about?</h2>
    <p>Welcome to the TotalKnavery music page! Here I will showcase various music tracks and audio projects that I have worked (or am working) on. Have a look below and browse what tracks are currently featured. Check back often for frequent updates and newly featured music!</p>
  </section>

  <section class="3u 6u(medium) 12u$(small)">
    <h3>Music Links:</h3>
    <p>Check out my music profile at the sites below.</p>
    <ul>
      <li>IndieMusic Link Coming Soon!</li>
      <li>Soundcloud Link Coming Soon!</li>
    </ul>
  </section>

  <section class="3u$ 6u$(medium) 12u$(small)">
    <h3>Notice</h3>
    <p>Unless otherwise stated, all music is provided for preview on this site only and is explicitly owned by TotalKnavery (John Osinski) or the respective copyright/license owners. All rights reserved.</p>
  </section>
</div>

<hr class="major" />

<!-- Content -->
<h2 id="content">Featured Music</h2>

<!-- [Template for song entries] 
<div class="box">
  <div class="image leftbox"><img src="assets/images/albums/default.png" alt="Album Image" /></div>
  <div id="musiclinks">
    <a href="#" class="button icon fa-play-circle">Play It!</a>
    <a href="#" class="button icon fa-link">Featured</a>
  </div>
  <h4><span class="highlight">Song Title Here</span><br/>
  <span class="subtext">Category Here | Length: X:XX | Featured In "Bla Bla Bla Bla"</span></h4>
  <p>
    Felis sagittis eget tempus primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod. Magna sed etiam ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus lorem ipsum dolor sit amet nullam.
  </p>
</div>
-->

{% for song in site.songs %}
<div class="box">
  <div class ="image leftbox"><img src="{{ song.artwork }}" alt="Album Image" /></div>
  <div id="musiclinks">
    <a href="{{ song.url }}" class="button icon fa-play-circle">Play It!</a>
    {% if song.featured-in != 'N/A' %}<a href="{{ song.link }}" class="button icon fa-link">Featured</a>{% endif %}
  </div>
  <h4><span class="highlight">{{ song.title }}</span><br/>
  <span class="subtext">{{ song.category }} | Length: {{ song.length }} {% if song.featured-in != 'N/A' %}| Featured In: {{ song.featured-in }} {% endif %}</span></h4>
  <p>{{ song.content | markdownify }}</p>
</div>
{% endfor %}

