{% comment %}
===========================
Note: this include expects there to be a variable 'cats' defined which is the population of recent categories
that have had a new post recently created

This include prints a category and gives the last 5 posts for each category in cats
===========================
{% endcomment %}

{% for cat in cats %}
<h5><a href="#">{{ cat }}</a></h5>
<div class="recent_posts"><ul>
  {% assign num_posts = 0 %}
  {% for post in site.categories[cat] %}
  {% if num_posts == 5 %}
  {% break %}
  {% else %}
  <li><a href="{{ post.url | relative_url }}">{{ post.title }}</a></li>
  {% assign num_posts = num_posts | plus: 1 %}
  {% endif %}
  {% endfor %}
</ul></div>
{% endfor %}
