<!DOCTYPE HTML>
<!--
	TotalKnavery Home Page
	Based on "Projection" by TEMPLATED
	Attribution: templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>TotalKnavery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body>

		<!-- Header -->
        {% include navigation.html %}

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
					  <h1>TotalKnavery</h1>

                        <!-- Load a random quote from the quotes.txt file -->
						<p class="subtitle" id="randomQuote"></p>
                        <script src="{{ 'assets/js/randomQuote.js' | relative_url }}"></script>
                        <script type="text/javascript">
                            document.getElementById("randomQuote").innerHTML=getRandomQuote("{{ 'assets/file/quotes.txt' | relative_url }}");
                        </script>

					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-keyboard-o"></span>
							<h3>Programming</h3>
							<p>I like to code things!</p>
						</div>

						<div>
							<span class="icon fa-music"></span>
							<h3>Game Music</h3>
							<p>I write music for games!</p>
						</div>

						<div>
							<span class="icon fa-pencil"></span>
							<h3>Blogging</h3>
							<p>I like to write down ideas!</p>
						</div>

					</div>

					<footer>
						<a href="{{ '/news' | relative_url }}" class="button">See What's New</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">
					<header>
						<h1>Featured Projects:</h1>
					</header>
					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="assets/images/pic01.jpg" alt="Pic 01" />
							</div>
							<header>
								<h3>Minecraft Datapack:<br />Knave's Elemental Pearls</h3>
							</header>
							<p>Play Minecraft with an expanded set of pearls at your disposal,<br />adding 14 new pearl types beyond the basic Ender Pearl!</p>
							<footer>
								<a href="https://github.com/knaveightt/knv-elemental" class="button">Go to Github!</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="assets/images/pic02.jpg" alt="Pic 02" />
							</div>
							<header>
								<h3>Minecraft Datapack:<br />MC Toughcore</h3>
							</header>
							<p>Play a gamemode halfway between Survival and Hardcore, where you<br />only have 5 lives and things get harder with each death.</p>
							<footer>
								<a href="https://github.com/knaveightt/mctoughcore" class="button">Go to Github!</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer" class="home">
				<div class="inner">

					<h3>About Me!</h3>
                    <div class="image round right"><img src="assets/images/profile.jpg" alt="Smile"></div>
                    <div class="bio">
                      <p>My name is John Osinski, I'm a 90s IT guy who enjoys programming, classic SNES games, magic tricks, and an unhealthy variety of music. I have put together this site to showcase some projects I have / am working on, as well as provide a digital workspace to post my thoughts, ideas, and other creative endeavors.</p>
                      <p>&nbsp;</p>
                    </div>
                    

					<div class="copyright">
						&copy; 2021 TotalKnavery. Design based on <a href="https://templated.co">TEMPLATED</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
            {% include scripts.html %}
	</body>
</html>
