<!DOCTYPE HTML>
<!--
    TotalKnavery Generic Page Layout
	Based on "Projection" by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ site.url }}/assets/css/main.css" />
	</head>
	
	<body class="subpage">

        <!-- Navigation Include -->
        {% include navigation.html %}

		<!-- 'Three' Container -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>{{ page.title }}</h2>
						<p>{{ page.description }}</p>
					</header>
                    {{ content }}
				</div>
			</section>

        <!-- Footer Include -->
        {% include footer.html %}    
            
		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>
