<!DOCTYPE HTML>
<!--
    TotalKnavery Generic Post Layout
	Based on "Projection" by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
	</head>
	<body class="subpage">


        <!-- Navigation Include -->
        {% include navigation.html %}

		<!-- Three -->
		<section id="main" class="wrapper blog">
              
		    <!-- leftbar -->
            <div id="leftbar" class="inner">
              
              <div id="tag_list">
                <ul class="actions fit">
                  <li><a href="{{ 'blog/tags/' | relative_url }}" class="button alt fit">Available Tags</a></li>
                </ul>
              <blockquote class="tag-cloud" style="text-align: justify;">
                {% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
                {% assign tags = site_tags | split:',' | sort %}
                {% include tagcloud.html %}
              </blockquote>
              </div>
              
              <br/>
              
              <div id="cat_list">
                <ul class="actions fit">
                  <li><a href="{{ 'blog/categories/' | relative_url }}" class="button alt fit">Recent Categories</a></li>
                </ul>
              {% assign cats = '' | split: '' %}
              {% include recentcats.html %}
              {% include recentcatposts.html %}
              </div>

            </div>    
            <div class="inner-with-leftbar">
				<header class="align-center">
					<h2>{{ page.title }}</h2>
                    {% if page.author %}
					<p>{{ page.date | date_to_string }} - {{ page.author }}</p>
                    {% endif %}
				</header>

                    {{ content }}
                   
			</div>
		</section>

		<!-- Footer -->
        {% include footer.html %}    

		<!-- Scripts -->
        {% include scripts.html %}
            
	</body>
</html>
